<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Primeiro App em Vue.js</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    body {
      background-color: #383838;
      color: white;
    }

    .user-card {
      border: 1px solid rgb(122, 33, 33);
      background-color: #8f8888;
      border-radius: 10px;
      padding: 15px;
    }
  </style>
</head>
<body>
  <div id="app">
    <input v-model="cpf" type="text" placeholder="Digite o CPF"><br>
    <input v-model="nome" type="text" placeholder="Digite o nome"><br>
    <input v-model="email" type="text" placeholder="Digite o e-mail"><br>
    <br>
    <button @click="add()">Cadastrar</button>
    <br><br>
    <div v-for="(user, id) of users" class="user-card">
      <div class="card-name">Nome: {{ user.nome}}</div>
      <div class="card-email">Email: {{ user.email }}</div>
      <div class="card-cpf">CPF: {{ user.cpf }}</div>
    </div>
    <br><br>
  </div>

  <script>

    const { createApp, ref } = Vue

    createApp({
      setup() {

        const users = ref([])

        const nome = ref('')
        const cpf = ref('')
        const email = ref('')

        const add = () => {
          users.value.push({
            cpf: cpf.value,
            nome: nome.value,
            email: email.value,
          })
        }
        
        return {
          users,
          add,
          nome, cpf, email
        }
      }
    }).mount('#app')

  </script>
</body>
</html>